[Unit]
Description=Gunicorn instance to serve Displayboard app
After=network.target
[Service]
User=debian
Group=www-data
WorkingDirectory=
Environment="PATH="
ExecStart=venv/bin/gunicorn -w 4 -b 0.0.0.0:5000 "displayboard:create_app()"
[Install]
WantedBy=multi-user.target
Alias=displayboard.service