[Unit]
Requires=redis-vars.service
After=redis-vars.service
Description=Gunicorn instance to serve Displayboard app
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/var/www
Environment="PATH=/var/www/displayboard/venv/bin"
ExecStart=/var/www/displayboard/venv/bin/gunicorn --preload -w 4 -b 127.0.0.1:5000 "displayboard:create_app()"
[Install]
WantedBy=multi-user.target
Alias=displayboard.service
